{% extends "Preform/layOut.html" %}
    {% block content %}
        {% include "Preform/sideBar.html"%}
        </div>
        <!--Main Display-->
        <div id="main">
            <div class="navbar" style="background-image:linear-gradient(90deg, #f1a50d 0%, #e1ddd2 100%)">
                <button onclick="w3_open()" id="openNav" class="btn text-white" style="font-size: 25px" >&#9776;</button>
                <div class="col text-start">
                    <h3 class="ps-2 text-white">Demo Hot-Pressing</h3>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">
                <div style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;" class="my-2">
                    <div class="row my-4">
                        <div class="col-xl-4 col-lg-4 col-sm-12 col-md-12 d-flex align-items-center  ">
                            <div class="ms-xd-5 ms-lg-5 m-sm-5 m-xd-5">
                                <h3>Welcome to Preform !!!!</h3>
                                <h4>Tong !!</h4>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 ">
                            <!-- StartContent -->
                            <div class="container-fluid my-4">
                                <div class="row">
                                    <div class="col-xd-4 col-lg-4 col-md-6 col-sm-12 my-lg-0 my-sm-2">
                                        <div class="card" style="width: 90%;">
                                            <div class="card-body">
                                              <h5 class="card-title">ยอดัดวันนี้</h5>
                                              <p class="card-text">10000</p>              
                                            </div>
                                        </div>                      
                                    </div>
                                    <div class="col-xd-4 col-lg-4 col-md-6 col-sm-12">
                                        <div class="card" style="width: 90%;">
                                            <div class="card-body">
                                              <h5 class="card-title">ยอดที่เหลื่อ</h5>
                                              <p class="card-text">10000</p>
                                            </div>
                                        </div>                      
                                    </div>
                                    <div class="col-xd-4 col-lg-4 col-md-12 col-sm-12 my-lg-0 my-md-2 my-md-2 my-sm-2">
                                        <div class="card" style="width: 90%;">
                                            <div class="card-body">
                                              <h5 class="card-title">ยอดเสร็จ</h5>
                                              <p class="card-text">10000</p>
                                            </div>
                                        </div>                      
                                    </div>
                                </div>
                            </div>
                            <!-- StartContent -->
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content -->
        </div>
    {% endblock %}


