{% extends "Preform/layOut.html" %}
    {% block content %}
        {% include "Preform/sideBar.html"%}
        </div>
        <!--Main Display-->
        <div id="main">
            <div class="navbar" style="background-image:linear-gradient(90deg, #f1a50d 0%, #e1ddd2 100%)">
                <button onclick="w3_open()" id="openNav" class="btn text-white" style="font-size: 25px" >&#9776;</button>
                <div class="col text-start">
                    <h3 class="ps-2 text-white">Demo Hot-Pressing</h3>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">
                <div style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;" class="my-2">
                    <div class="row my-4">
                        
                    </div>
                </div>
            </div>
            <!-- content -->
        </div>
    {% endblock %}


