{% extends "Planning/layOut.html" %}
    {% block content %}
        {% include "Planning/sideBar.html"%}
        </div>
        <!--Main Display-->
        <div id="main">
            <div class="navbar" style="background-image:linear-gradient(90deg, #f1a50d 0%, #e1ddd2 100%)">
                <button onclick="w3_open()" id="openNav" class="btn text-white" style="font-size: 25px" >&#9776;</button>
                <div class="col text-start">
                    <h3 class="ps-2 text-white">Demo Hot-Pressing</h3>
                </div>
            </div>
            <!-- Content -->
            <div class="container-fluid">
                <div style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;" class="my-2">
                    <div class="row my-4">
                        <div class="col-xl-4 col-lg-4 col-sm-6 col-md-6 d-flex align-items-center  ">
                            <div class="ms-5">
                                <h2>Welcome to System !!!!</h2>
                                <h3>Tong !!</h3>
                            </div>
                        </div>

                        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-6 ">
                            <div class="container-fluid my-4">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                        <div class="card" style="width: 90%;">
                                            <div class="card-body">
                                              <h5 class="card-title">ยอดวันนี้</h5>
                                              <p class="card-text">10000</p>
                                            
                                            </div>
                                        </div>                      
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                        <div class="card" style="width: 90%;">
                                            <div class="card-body">
                                              <h5 class="card-title">ยอดประจำเดือน</h5>
                                              <p class="card-text">10000</p>
                                            
                                            </div>
                                        </div>                      
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-lg-0 mt-md-2 mt-sm-2 ">
                                        <div class="card" style="width: 90%;">
                                            <div class="card-body">
                                              <h5 class="card-title">ยอดทั้งหมด</h5>
                                              <p class="card-text">1.000.000.000.000</p>
                                            
                                            </div>
                                        </div>                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Alert -->
            <div class="d-flex justify-content-center">
                <div class="alert alert-success text-center w-75" role="alert" >
                    <h4 class="alert-heading">Well done!, successfully ลงข้อมูลเข้าในระบบ</h4>
                    <p>Aww yeah, you successfully upload แผนการผลิตเข้าไปในระบบ.</p>
                    <hr>
                    <p class="mb-0">Enjoy your Day :).</p>
                </div>
               
                <div class="alert alert-danger text-center w-75" role="alert" >
                    <h4 class="alert-heading">Unsuccessfully, ลงข้อมูลเข้าในระบบ</h4>
                    <p>มีข้อผิดพลาดในการลงข้อมูลเข้าระบบ !!!!</p>
                    <hr>
                    <p class="mb-0">กรุณาตรวจสอบขอผิดพลาดและลองอีกครั้ง ......</p>
                </div>
            </div>
            <!-- Input form -->
            <div class="container-fluid" >
                <div class="row">
                    <div class="col-xd-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="card" style="width: 90%;">
                            <div class="card-body">
                                <div class="text text-center">
                                    <h5 class="card-title">แผนdiscเบรก</h5>
                                    <p class="card-text">Note: ต้องลงไฟล์ (.xlsm)</p>
                                </div>
                                <div>
                                    <div class="text-center">
                                        <label class="form-label text-center">แผนการผลิตdiscเบรก</label>
                                    </div>
                                    <input class="form-control form-control-lg" id="formFileLg" type="file">
                                    <div class="text-end">
                                        <button type="submit" class="btn btn-primary mt-lg-4 mt-md-4 mt-sm-4 text-end">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xd-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="card" style="width: 90%;">
                            <div class="card-body">
                                <div class="text text-center">
                                    <h5 class="card-title">แผนผ้าเบรก</h5>
                                    <p class="card-text">Note: ต้องลงไฟล์ (.xlsm)</p>
                                </div>
                                <div>
                                    <div class="text-center">
                                        <label class="form-label text-center">แผนการผลิตผ้าเบรก</label>
                                    </div>
                                    <input class="form-control form-control-lg" id="formFileLg" type="file">
                                    <div class="text-end">
                                        <button type="submit" class="btn btn-primary mt-lg-4 mt-md-4 mt-sm-4 text-end">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- content -->
        </div>
    {% endblock %}


