<div class="sideBar-tab">
    <!--Boss-->
    <li>
        <i class="fa fa-home" style="font-size: 24px"></i>
        <a href="" style="text-decoration: none; color: #000">&nbsp;Home</a>
    </li>
    <li>
        <i class="fa fa-bar-chart-o" style="font-size: 24px"></i>
        <a href="" style="text-decoration: none; color: #000"
        >&nbsp;Dashboard</a
        >
    </li>
    <li>
        <i class="fa fa-gear" style="font-size: 24px"></i>
        <a href="" style="text-decoration: none; color: #000"
        >&nbsp;User management
        </a>
    </li>
    <hr />
    <li>
        <i class="fa fa-sign-out" style="font-size: 24px"></i>
        <a href="" style="text-decoration: none; color: #000">Log out </a>
    </li>
</div>  